before_script:
  - '[ "$(git rev-parse origin/$CI_COMMIT_REF_NAME)" != "$CI_COMMIT_SHA" ] && curl --header "PRIVATE-TOKEN: $MY_CI_API_TOKEN" -X POST https://gitlab.lanl.gov/api/v4/projects/$CI_PROJECT_ID/pipelines/$CI_PIPELINE_ID/cancel'
  - export HOME=${CI_PROJECT_DIR}
  - export TMPDIR=${CI_PROJECT_DIR}
  - unset SPACK_ROOT
  - source ${CI_PROJECT_DIR}/spack/share/spack/setup-env.sh || /bin/true
  - echo ${CI_RUNNER_TAGS}
  - |
    if [[ -d ${CI_PROJECT_DIR}/spack ]];
    then
      spack reindex;
      spack module tcl refresh -y;
    fi
