
*~
*/*~

doc/m
doc/ristra-atomics.dvi
doc/ristra-atomics.log
doc/ristra-atomics.ps

example/all-global-functions
example/all-member-functions
example/all-operators
example/correct-operators
example/multithreaded-add
example/multithreaded-add-sub
example/multithreaded-add-sub-inc-dec
example/multithreaded-min-max
example/multithreaded-mul-div-shift

test/t
test/unit-add
test/unit-and
test/unit-div
test/unit-global-functions
test/unit-lshift
test/unit-max
test/unit-member-functions
test/unit-min
test/unit-mod
test/unit-mul
test/unit-operators
test/unit-or
test/unit-postdec
test/unit-postinc
test/unit-predec
test/unit-preinc
test/unit-rshift
test/unit-sub
test/unit-xor
test/unit-threads-add
test/unit-threads-sub
test/clean

test/unit-threads-and
test/unit-threads-div
test/unit-threads-lshift
test/unit-threads-mod
test/unit-threads-mul
test/unit-threads-or
test/unit-threads-postdec
test/unit-threads-postinc
test/unit-threads-predec
test/unit-threads-preinc
test/unit-threads-rshift
test/unit-threads-xor
